.checkout__header {

    min-height: 5rem;
    margin: 0 auto 1rem;

    background-color: #fff;
    box-shadow: 0 1px 22px -6px $dark-30;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 2rem;
        margin: 0 auto;
        max-width: 1440px;

        div {
            padding: 0;
        }

        figure {
            margin: 0;
            line-height: 1;
            svg {
                width: 3.5rem;
                height: 3.5rem;
                cursor: pointer;
            }
        }

        .icon-return {
            cursor: pointer;
        }

        .header__wrapper--info {
            p {
                color: $dark;
                font-family: $main-font-bold;
            }
        }
    }
}