/* Font Nunito */
@font-face {
    font-family: "nunito-regular";
    src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "nunito-semibold";
    src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "nunito-bold";
    src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}

/* Font Rosario */
@font-face {
    font-family: "rosario-semibold";
    src: url("../assets/fonts/rosario/Rosario-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "rosario-bold";
    src: url("../assets/fonts/rosario/Rosario-Bold.ttf") format("truetype");
}

/* Font Anton */
@font-face {
    font-family: "anton";
    src: url("../assets/fonts/anton/Anton-Regular.ttf") format("truetype");
}

/* Font RobotoSlab */
@font-face {
    font-family: "robotoslab-black";
    src: url("../assets/fonts/robotoslab/RobotoSlab-Black.ttf") format("truetype");
}


