.selectShowtime {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1.4rem;
    border-radius: 10px;
    margin: 2rem auto 1rem !important;
    box-shadow: 0 6px 15px $dark-30;

    &__dropdown {
        width: 20%;
        
        /* Custom arrow down select*/
        .ant-select-selection-placeholder {
            color: $gray-3;
            font-family: $main-font-bold;
        }

        .ant-select-arrow {
            color: $gray-3 ;
            border-top: 8px solid $gray-3;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;

            svg {
                display: none;
            }
        }
    }

    button {
        padding: 10px 20px;
    }

    @include responsive(992) {
        display: none;
    }
}