.admin {

    &__sidebar {
        box-shadow: -4px 0 11px 9px $dark-30;

        &-logo {
            text-align: center;
            padding: 1.5rem 0;
        }

        ul {
            width: 92%;
            margin: 0 auto;

            li {

                span {
                    font-family: $main-font-regular;
                    font-size: $fs-14;
                    text-transform: uppercase;
                }

                span.anticon {
                    font-size: $fs-16;
                }
            }

            li.ant-menu-item.ant-menu-item-selected {
                border-radius: 5px;
                background-color: $orange-1 !important;
            }
        }
    }

    &__layout {
        background-color: $light !important;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: $white;
            box-shadow: 0 2px 13px -6px $dark-30;
            margin-bottom: 1rem;

            figure {
                display: flex;
                align-items: center;
                margin: 0;
                line-height: 1;

                font-size: $fs-16;
                text-transform: uppercase;
                color: $orange-1;
                cursor: pointer;
                

                svg {
                    width: 3rem;
                    height: 3rem;

                    @include responsive(768) {
                        width: 2.5rem;
                        height: 2.5rem;
                        opacity: 0.7;
                    }
                }
            }

            .miniAvartar__wrapper--info {

                & > p {
                    color: $dark !important;
                    font-family: $main-font-bold;
                }

                span {
                    color: $dark ;
                }

                .submenu {
                    top: 5.8rem
                }
            }
        }
        
        main {
            margin-bottom: 1rem !important;
            height: 100%;

            .site-layout-background {
                background-color: #fff;
                box-shadow: 0 2px 13px -6px $dark-30;
                border-radius: 1rem !important;
            }
        }

        footer {
            padding: 10px 0;
            text-align: center;
            text-transform: capitalize;
            color: $orange-1;
            background-color: #fff;
        }
    }
}
