.c-primary__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    font-size: $fs-26 !important;
    font-family: $main-font-bold;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;

    h3 {
        margin: 0 3rem;
        color: $gray-3;

        @include responsive(768) {
            margin: 0;
        }
    }

    @include responsive(992) {
        margin: 3rem 0;
    }

    @include responsive(768) {
        font-size: $fs-22 !important;
        display: flex;
        justify-content: space-evenly;
    }

    @include responsive(576) {
        justify-content: space-between;
    }
}
.title-active {
    background: linear-gradient(to right, $orange-1 50% , $orange-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-primary__title--center {
    justify-content: center !important;
}