.checkout__header {

    min-height: 5rem;
    margin: 0 auto 1rem;

    background-color: #fff;
    box-shadow: 0 1px 22px -6px $dark-30;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 3rem;
        margin: 0 auto;
        max-width: 1440px;

        figure {
            width: calc(100%/3);
            margin: 0;
            line-height: 1;

            svg {
                width: 3.5rem;
                height: 3.5rem;
                cursor: pointer;

                @include responsive(768) {
                    width: 2.5rem;
                    height: 2.5rem;
                    opacity: 0.7;
                }
            }

            @include responsive(992) {
                display: block !important;
                // width: calc(100%/3);
            }

            @include responsive(768) {
                display: none !important;
            }
        }

        .checkout__header-logo {
            width: calc(100%/3);
            text-align: center;
        }

        .miniAvartar__wrapper--info {
            width: calc(100%/3);
            justify-content: flex-end;

            & > p {
                color: $dark !important;
                font-family: $main-font-bold;
            }
            
            span {
                color: $dark ;
            }
        }

        .navbarMobile--toggle {
            color: $dark !important;
        }

        @include responsive(768) {
            padding: 5px 1.5rem;
        }
    }

    @include responsive(576) {
        margin: 0 auto 2rem;
    }
}