.slider__main {
    img {
        width: 100%;
    }

    /* Custom arrow next and prev*/
    .slick-prev,
    .slick-next {
        width: auto;
        height: auto;
        top: 60%;
    }

    .slick-prev {
        left: -50px;

        @include responsive(1200) {
            left: -15px;
        }
        @include responsive(1024) {
            left: -15px;
        }
    }

    .slick-next {
        right: -50px;

        @include responsive(1200) {
            right: -15px;
        }
        @include responsive(1024) {
            right: -15px;
        }
    }

    .slick-prev:before {
        transform: rotate(45deg);
    }

    .slick-next:before {
        transform: rotate(225deg);
    }

    .slick-prev:before,
    .slick-next:before {
        color: $orange-3 !important;
        font-size: 2rem !important;
        line-height: 0;
        opacity: 1 !important;
        font-family: $main-font-bold;
        content: "";

        /* Shape of arrow*/
        width: 40px;
        height: 40px;
        transition: 0.5s;
        float: left;
        box-shadow: -3px 3px $orange-3;
    }

    @include responsive(992){
        .slick-prev:before,
        .slick-next:before {
            width: 0px !important;
            height: 0px !important;
            box-shadow: none !important;
        }
    }
}

.slider__secondary {
    transform: translateX(3px);
    img {
        width: 98%;
        margin-right: auto;
        cursor: pointer;
    }
}
