.selectShowtime {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;
    border-radius: 10px;
    margin: 2rem auto 0rem !important;
    box-shadow: 0 6px 15px $dark-30;

    &__dropdown {
        width: calc(100%/6);
        
        /* Custom arrow down select*/
        .ant-select-selection-placeholder {
            color: $gray-3;
            font-family: $main-font-bold;
        }

        .ant-select-arrow {
            color: $gray-3 ;
            border-top: 8px solid $gray-3;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;

            svg {
                display: none;
            }
        }
    }

    .w-20 {
        width: 24% !important;
    }

    .w-12 {
        width: 12% !important;
    }
    
    .ant-tooltip-disabled-compatible-wrapper {
        padding: 0 !important;
        button {
            text-transform: uppercase;
            padding: 10px 20px;
        }
    }

    @include responsive(992) {
        display: none;
    }
}