.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $light;
    z-index: 200;

    /** Custom spin loading */
    .ant-spin-lg .ant-spin-dot {
        font-size: 7rem;
        i {
            width: 2.3rem;
            height: 2.3rem;
            background-color: $orange-1;
        }
    }

    @include responsive(768) {
        
    }

}
