.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    width: 1000%;
    height: 100vh;
    margin: 0 auto;

    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;

    opacity: 1;
    visibility: visible;
    pointer-events: none;
    transition: 0.2s;
    z-index: 400;
    
    &__video {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 800px;
        height: 100%;
        max-height: 550px;
        margin: 0 auto;

        iframe {
            width: 100%;
            height: 100%;
        }

        .modal__btnClose {
            position: absolute;
            right: -1.5rem;
            top: -2rem;
    
            text-align: right;
            color: $light !important;
            font-size: $fs-36;
            cursor: pointer;
        }
    }
}

.modal-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
