.list {

    .list__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2rem;

        .admin-searchbar {
            
            /** Custom searchbar ant design */
            input {
                padding: 8px 11px;
                width: 300px;
                border-radius: 6px 0 0 6px;

                &:focus {
                    border-color: $orange-1 !important;
                    box-shadow: 0 0 0 2px $orange-6;
                }

                &:hover {
                    border-color: $orange-1 !important;
                }
            }

            .ant-input-group-addon {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px !important;
                    height: 39.6px !important;

                    color: $light !important;
                    border-radius: 0 6px 6px 0 !important;
                    border-color: $orange-1 !important;
                    background-color: $orange-1 !important;

                    svg {
                        width: 16px !important;
                        height: 16px !important;
                    }
                }
            }
        }
    }

    /** Custom table */
    .ant-table-wrapper {
        .ant-table-thead {
            background-color: $gray-4;
            tr {
                th {
                    text-transform: capitalize;
                    font-size: $fs-14;
                    font-family: $main-font-bold;

                    color: $white;
                    background-color: transparent;

                    span {
                        color: $white
                    }

                    &::before {
                        background-color: $light !important;
                    }
                }
            }
        }

        .ant-table-row {
            transition: all 0.2s;
            
            .ant-table-cell {
                padding: 5px 1rem !important;
                background-color: transparent;
            }

            &:hover {
                background-color: $gray-70;
            }
            
        }

        /** Custom pagination table */
        .ant-pagination.ant-table-pagination {

            .ant-select-selector {
                border-radius: 6px;
            }
    
            .ant-pagination-item-active {
                border-radius: 50%;
                border: 1px solid $orange-1 !important;
    
                a {
                    color: $orange-1 !important;
                }
            }
    
            .ant-pagination-item {
                border-radius: 50%;
                transition: all 0.3s;

                a {
                    color: $gray-3;
                }

                &:hover {
                    border-color: $orange-1;

                    a {
                        color: $orange-1;
                    }
                }
            }
    
            .ant-pagination-prev, .ant-pagination-next  {
                button {
                    border-radius: 50% !important;
                }
            }
        }
    }
}
